{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Magazine Manager | Applications | Permit</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Magazine</span> Manager</h1>
            </div>
            <nav>
                <ul>
                    <!--<li><a href="index">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="current"><a href="applications">Applications</a></li>
                    <li><a href="logout">Log Out</a></li>
                    {% endif %}-->
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <aside id="side-bar">
                <div class="dark">

                    <h3>Issuing Info</h3>
                    <form class="Quote" action=" " method="POST">
                        {% csrf_token %}
                        {% for form in forms %}
                        <div id="new">
                            <label>{{form.label}}</label><br>
                            {{form}}
                        </div>
                        {% endfor %}
                        <br>
                        If checked press the key below<br>
                        <button class="button_1" type="submit">DONE</button>
                    </form>
                    <div>
                        {% for message in messages %}
                        <h3>{{message}}</h3>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </div>
    </section>
    {{id}}
    <br>
    <br>
    <footer>
        <p>BIJOYEE BAISH</p>
    </footer>
</body>

</html>