{% load static %}
{% static "img" as baseUrl %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Magazine Manager | Welcome</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Magazine</span> Manager</h1>
            </div>
            <nav>
                <ul>

                    <li><a href="logout">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--<section id="newsletter">
			<div class="container">
				<h1>Subscribe To Our Newsletters</h1>
				<form>
					<input type="email" placeholder="Enter Email">
					<button type="submit" class="button_1">subscribe</button>
				</form>
			</div>
		</section>
		-->
    <section id="boxes">
        <div class="container jumbotron text-center">
            <form action='sendemail' method="POST">
                {% csrf_token %}
                Enter Email to be Confirmed
                <input type="email" name="email">
                <hr>
                <button type="submit" class="button_1">Send Confirmation</button>
            </form>
            <div>
                {% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer>
        <p>BIJOYEE BAISH</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>