{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Magazine Manager | Applications | Coy Stocks</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Magazine</span> Manager</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="current"><a href="applications">Applications</a></li>
                    <li><a href="logout">Log Out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <aside id="side-bar">
                <div class="dark">
                    <h3>Stock</h3>
                    <form class="Quote" action="stock" method="POST">
                        {% csrf_token %}
                        {% for form in forms %}
                        <div id="new">
                            <label>{{form.label}}</label><br>
                            {{form}}
                        </div>
                        {% endfor %}
                        <br>
                        <button class="button_1" type="submit">Save</button>
                    </form>
                    <div>
                        {% for message in messages %}
                        <h3>{{message}}</h3>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <br>
    <br>
    <div class="jumbotron text-center">
        <h3>Stock</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {% csrf_token %}
                    {{myFilters.form}}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Ammonition</th>
                        <th>Company</th>
                        <th>Authorized</th>
                        <th>Amount</th>
                        <th>Deficiency</th>
                        <th></th>
                    </tr>

                    {% for stock in stocks %}
                    <tr>
                        <td>{{stock.ammo}}</td>
                        <td>{{stock.coy}}</td>
                        <td>{{stock.auth}}</td>
                        <td>{{stock.amount}}</td>
                        <td>{{stock.deficiency}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'stockupdate' stock.id %}">Update</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>




    <footer>
        <p>BIJOYEE BAISH</p>
    </footer>
</body>

</html>